<h1 id="tableLabel">Stocks info</h1>



<p *ngIf="!stockinfos"><em>Loading...</em></p>

<button class="btn btn-primary" (click)="reqLock()">Send notif.</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stockinfos">
  <thead>
    <tr>
      <th>Date</th>
      <th>Open price $</th>
      <th>Close price $</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stockinfo of stockinfos">
      <td>{{ stockinfo.date }}</td>
      <td>{{ stockinfo.openPrice }}</td>
      <td>{{ stockinfo.closePrice }}</td>
      <td>{{ stockinfo.summary }}</td>
    </tr>
  </tbody>
</table>


<!-- <div>
  messages received
  <div *ngFor="let msg of messageHistory">
    <p>{{msg}}</p>
  </div>
</div> -->

<!--<form (ngSubmit)="send()">

  Enter Text to send <input type="text" [(ngModel)]="message" name="message" />
  <input type="submit" name="" value="Send" />
</form>
-->
